[Unit]
Description=This is daemon for CTMApp

[Service]
User=ec2-user
Type=simple
ExecStart=/bin/sh -c "/home/ec2-user/venv/bin/gunicorn --bind 127.0.0.1:8000 --workers=1 --threads=15 helloworld.wsgi:application 2>&1 > /home/ec2-user/logs/webapp.log"
Restart=always

EnvironmentFile=/home/ec2-user/env

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webapp
WorkingDirectory=/home/ec2-user/api


[Install]
WantedBy=multi-user.target